<%- if current_user.admin? -%>
<p id="group-id">
    <label for="page_group_id">Owning Group:</label>
    <select id="page_group_id" name="page[group_id]">
        <%= options_for_select(Group.find(:all, :order => 'name ASC').map{|g| [g.name, g.id]}.unshift(['—', '']), (@page.group.nil? ? '' : @page.group.id)) %>
    </select>
</p
<%- end -%>