<h1>Groups</h1>

<ul>
    <%- @groups.each do |group| -%>
    <li>
        <h2><%= group.name %></h2>
        <ul>
            <%- group.users.each do |user| -%>
            <li><%= user.name %>, <%= user.email %></li>
            <%- end -%>
        </ul>
    </li>
    <%- end -%>
</ul>